body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
main {
    text-align: center;
    padding: 20px;
    margin-top: 100px;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}


.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.article-details-container, .recipe-details-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
  
 
.article-card, .recipe-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    transition: transform 0.3s ease-in-out;
}
  
.article-card:hover, .recipe-card:hover {
    transform: translateY(-5px);
}
  
.article-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 12px;
}

.recipe-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 12px;
}
  
.article-card h2, .recipe-card h2 {
    font-size: 18px;
    margin-bottom: 8px;
}
  
.article-card p, .recipe-card p {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}
  
  