.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensures it's above other content */
}


.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 50px;
    margin-right: 10px; /* Add some space between the image and the text */
}

.Title {
    font-size: 2.0rem;
    font-style: italic;
    font-family: 'Playfair Display', serif;;
    font-weight: bold;
    color: #333;
    margin: 0; 
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: crimson;
}

.nav-links a.active {
    color: crimson; /* Highlight color */
    font-weight: bold; 
    border-bottom: 2px solid white; /
}

.login-btn {
    border: 1px solid #333;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background: none;
    cursor: pointer;
    transition: background 0.3s;
}

.login-btn:hover {
    background: crimson;
    color: #fff;
}
.user-icon:hover + .dropdown, .dropdown:hover {
    display: block;
  }
  
  .dropdown {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1000;
  }
  
  .dropdown p {
    margin: 5px 0;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .dropdown p:hover {
    background-color: crimson;
  }