@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

header {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 10;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 50px;
    margin-right: 10px; /* Add some space between the image and the text */
}

.Title {
    font-size: 2.0rem;
    font-style: italic;
    font-family: 'Playfair Display', serif;;
    font-weight: bold;
    color: #333;
    margin: 0; /* Remove any default margin to ensure proper alignment */
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: crimson;
}

.login-btn {
    border: 1px solid #333;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background: none;
    cursor: pointer;
    transition: background 0.3s;
}

.login-btn:hover {
    background: crimson;
    color: #fff;
}
/*signup*/
.signup{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    max-width: 400px;
    width: 90%; 
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    
}
.signup-title{
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}
.signup-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group{
    width: 100%;
    margin-bottom: 15px;
}
label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}
input:focus {
    border-color: #b30000;
    outline: none;
    box-shadow: 0 0 5px rgba(179, 0, 0, 0.2);
}
.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}
.btn-signup{
    background: crimson;
    color: white;
    margin-top: 10px;
}

.btn-signup:hover{
    background-color: darkred;
}
